---
import Button from "../Button.astro";
---

<section class="max-w-screen-xl m-auto w-full p-4 mt-16 mb-16">
  <div class="flex flex-col gap-8">
    <div class="flex flex-col gap-10">
      <div class="flex flex-col gap-8 xs:items-center">
        <h2 class="text-blue600">Médias</h2>
        <p class="text-black max-w-md">
          Tu souhaites en savoir plus ou bien nous relayer ? T’inquiète pas, on a tout prévu :
        </p>
      </div>
    </div>
    <div class="flex gap-4 flex-wrap">
      <Button href="/DossierPresse.pdf" variant="primary" title="Dossier de presse" custom="w-fit" icon="download" />
      <Button href="/Communique.pdf" variant="primary" title="Communiqué de presse" custom="w-fit" icon="download" />
    </div>
  </div>
</section>
