---
// Component Imports
import Button from "../components/Button.astro";
import Layout from "../layouts/Layout.astro";
import ButtonStat from "../components/ButtonStat.astro";
import List from "../components/List.astro";
import Card from "../components/Card.astro";
import ListLink from "../components/ListLink.astro";
import Footer from "../components/Footer.astro";
import { getCategoriesLeaderboardPreview, getLeaderboard } from "../lib/api";

import { Breadcrumbs } from "../../node_modules/astro-breadcrumbs";

// Full Astro Component Syntax:
// https://docs.astro.build/basics/astro-components/

const leaderboardPreviewByCategory = await getCategoriesLeaderboardPreview();

const leaderboard = await getLeaderboard();

const customCrumbs = [
    {
        text: "Accueil",
        href: "/",
    },
    {
        text: "Les classements",
        href: "/ranking",
    },
];

const presentMonth = new Date().getMonth();

const year = new Date().getFullYear();

const months: string[] = ["Janvier","Février","Mars","Avril","Mai","Juin","Juillet","Août","Septembre","Octobre","Novembre","Décembre",
];

let month: string | undefined;

for (let i = 1; i <= 12; i++) {
    if (presentMonth === i) {
        month = months[i];
        break;
    }
}
---

<Layout title="Classement - Small Page Energy">
    <Breadcrumbs crumbs={customCrumbs} />

    <section class="flex flex-col gap-12 w-full h-full">
        <div class="flex flex-col w-full gap-8 px-16">
            <div class="">
                <h1 class="text-blue600 text-center">Classement général</h1>
                <p class="text-xl font-black flex w-full justify-end text-blue600">{`${month}`} {`${year}`}</p>
            </div>
            <p class="text-center max-w-3xl mx-auto">
                Découvre ce classement qui expose les géants du web en fonction du
                poids de leurs pages. Ce palmarès, qu'il soit par catégories ou
                général, est actualisé mensuellement pour rester dans la course
                folle
            </p>
        </div>
    </section>
</Layout>

<style>
    body {
        background: radial-gradient(circle at right bottom, hsla(268, 83%, 63%, 0.4) 0%, rgba(108, 55, 170, 0) 50%),
            radial-gradient(circle at 0 -2%, rgba(155, 82, 239, 0.4) 0%, rgba(108, 55, 170, 0) 10%),
            radial-gradient(circle at right center, rgba(155, 82, 239, 0.4) 0%, rgba(108, 55, 170, 0) 30%),
            radial-gradient(circle at left center, rgba(155, 82, 239, 0.4) 0%, rgba(108, 55, 170, 0) 30%),
            radial-gradient(circle at center, rgba(145, 224, 255, 0.5) 0%, rgba(145, 224, 255, 0) 85%);

        @media (min-width: 768px) {
            background: radial-gradient(circle at 120% 70%, hsla(268, 83%, 63%, 0.4) 0%, rgba(108, 55, 170, 0) 30%),
                radial-gradient(circle at -30% -5%, rgba(155, 82, 239, 0.4) 20%, rgba(108, 55, 170, 0) 30%),
                radial-gradient(circle at 0 130%, rgba(155, 82, 239, 0.4) 20%, rgba(108, 55, 170, 0) 30%),
                radial-gradient(circle at right center, rgba(155, 82, 239, 0.4) 0%, rgba(108, 55, 170, 0) 30%),
                radial-gradient(circle at center, rgba(145, 224, 255, 0.5) 0%, rgba(145, 224, 255, 0) 85%);
        }
    }
</style>
