---
import Button from '../components/Button.astro'
---

<div class="footer flex flex-col w-full h-full pb-64 xs:-mt-10">
    <!-- Grid cotaining elements -->
    <div class="flex flex-col w-full h-full">
        <!-- Img -->
        <div class="lg:px-16 xs:px-4">
            <div class="grid lg:grid-cols-12 xs:grid-cols-4 gap-5 w-full lg:rounded-full xs:rounded-lg bg-gray100 py-8">
                <div class="flex flex-col lg:gap-8 lg:col-start-3 lg:col-span-5 xs:col-start-2 xs:col-span-2 xs:gap-5 xs:items-center">
                    <h2 class="text-blue600">Suis-nous sur nos réseaux</h2>
                    <p class="text-blue600 max-w-xl">
                        Va suivre notre comm’ sur les réseaux, on fait des
                        palmarès, on met les sites en concurrence. Avec un peu
                        de chance on aura même fait un post sur ta toute petite
                        page !
                    </p>
                </div>
                <div class="flex lg:flex-col xs:flex-col gap-6 lg:col-start-9 lg:col-span-2 xs:col-start-2 xs:justify-center">
                    <Button
                        href=""
                        variant="primary"
                        title="Instagram"
                        custom="w-full"
                        icon="instagram"
                    />
                    <Button
                        href=""
                        variant="primary"
                        title="Twitter"
                        custom="w-full"
                        icon="twitter"
                    />
                </div>
            </div>
        </div>
        <!-- Text + Liens Resources -->
        <div class="flex flex-col gap-8 col-start-6 col-span-12"></div>
    </div>
</div>

<style>
    .footer {
        background: radial-gradient(
                circle at right bottom,
                hsla(268, 83%, 63%, 0.4) 0%,
                rgba(108, 55, 170, 0) 50%
            ),
            radial-gradient(
                circle at left top,
                rgba(155, 82, 239, 0.4) 0%,
                rgba(108, 55, 170, 0) 50%
            ),
            radial-gradient(
                circle at center,
                rgba(145, 224, 255, 0.5) 0%,
                rgba(145, 224, 255, 0) 85%
            );
    }
</style>
