---
import { Image } from 'astro:assets';
import logoFull from "../../public/logo-h1-spe.png";
import Button from '../components/Button.astro'
interface Props {
    background?: boolean;
    marginTop?: string;
    socials?: boolean;

    }

const {
background=false,
socials=true,
marginTop} = Astro.props;
---

<div class="footer flex flex-col w-full h-full pb-8">
    <!-- Grid cotaining elements -->
    <div class="flex flex-col w-full h-full gap-16">
        <!-- Banner réseaux sociaux -->
        {
            socials && (
                <div class={`px-16 xs:px-4 sm:px-4 md:px-4 ${marginTop}  z-[1]`}>
                    <div class="footer-content bg-gray100 grid grid-cols-6 gap-8 xl:gap-24 w-full rounded-[60px] py-20 px-24 xl:px-64 xs:p-8 sm:p-8 md:p-8">
                        <div class="flex flex-col gap-8 xs:col-span-6 sm:col-span-6 md:col-span-6 col-span-4 xs:gap-5 xs:items-center">
                            <h2 class="text-blue600 xs:text-center sm:text-center md:text-center">Suis-nous sur nos réseaux</h2>
                            <p class="text-blue600 xs:text-center sm:text-center md:text-center max-w-xl">
                                Va suivre notre comm’ sur les réseaux, on fait des
                                palmarès, on met les sites en concurrence. Avec un peu
                                de chance on aura même fait un post sur ta toute petite
                                page !
                            </p>
                        </div>
                        <div class="flex flex-col gap-6 xs:col-span-6 sm:col-span-6 md:col-span-6 col-span-1 xs:justify-center sm:justify-center md:justify-center w-fit m-auto">
                            <Button
                                href=""
                                variant="primary"
                                title="Instagram"
                                custom="w-full"
                                icon="instagram"
                            />
                            <Button
                                href=""
                                variant="primary"
                                title="Twitter"
                                custom="w-full"
                                icon="twitter"
                            />
                        </div>
                    </div>
                </div>
            )
        }
        <!-- Logo + Slogan + Liens utiles -->
        <div class="flex flex-col gap-16">
            <div class="flex flex-row xs:flex-col sm:flex-col md:flex-col justify-between px-16 xs:px-4 sm:px-4 md:px-4 gap-8">
                <div class="flex flex-col gap-6">
					<Image src={logoFull} alt="Logo Small Page Energy." class="max-w-52 xs:m-auto sm:m-auto md:m-auto" />
                    <h4 class="text-blue600 xs:text-center sm:text-center md:text-center">
                        Qui aura la plus petite ?
                    </h4>
                </div>
                <div class="flex flex-row xs:flex-col sm:flex-col gap-16 flex-wrap xs:items-center sm:items-center md:items-center">
                    <div class="flex flex-col gap-5">
                        <h4 class="text-blue600 text-xl xs:text-center sm:text-center md:text-center">
                            Plan du site
                        </h4>
                        <div class="flex flex-col gap-4 xs:text-center sm:text-center md:text-center">
                            <a href="/">Accueil</a>
                            <a href="">Classement</a>
                            <a href="/about">À propos</a>
                            <a href="/legals">Mentions légales & CGU</a>
                        </div>
                    </div>
                    <div class="flex flex-col gap-5">
                        <h4 class="text-blue600 text-xl xs:text-center sm:text-center md:text-center">
                            Ressources
                        </h4>
                        <div class="flex flex-col gap-4 xs:text-center sm:text-center md:text-center">
                            <a href="https://www.osuny.org/">Osuny</a>
                            <a href="https://www.ecoindex.fr/">Ecoindex</a>
                            <a href="https://lowwwcarbon.com/">LowwwCarbon</a>
                            <a href="https://pagespeed.web.dev/">Page speed</a>
                            <a href="https://www.websitecarbon.com/">Website carbon </a>
                        </div>
                    </div>
                    <div class="flex flex-col gap-5">
                        <h4 class="text-blue600 text-xl xs:text-center sm:text-center md:text-center">
                            Réseaux sociaux
                        </h4>
                        <div class="flex flex-col gap-4 xs:text-center sm:text-center md:text-center">
                            <a href="https://www.instagram.com/smallpagenergy/">Instagram</a>
                            <a href="https://twitter.com/smallpagenergy">Twitter</a>
                        </div>
                    </div>
                </div>
            </div>
            <a class="text-center text-lg">2024 - Tous droits réservés</a>
        </div>
    </div>
</div>

{
    background && (
        <style>
            .footer {
                background: radial-gradient(
                        circle at right bottom,
                        hsla(268, 83%, 63%, 0.4) 0%,
                        rgba(108, 55, 170, 0) 50%
                    ),
                    radial-gradient(
                        circle at left top,
                        rgba(155, 82, 239, 0.4) 0%,
                        rgba(108, 55, 170, 0) 50%
                    ),
                    radial-gradient(
                        circle at center,
                        rgba(145, 224, 255, 0.5) 0%,
                        rgba(145, 224, 255, 0) 85%
                    );
            }
        </style>
	)
}