---
// List link
interface Props {
	name: string;
    href: string;
    hasHr: boolean;
}

const {name, href, hasHr} = Astro.props;
---

<a href={href} class="w-full flex flex-col group">
    <div class="flex flex-row justify-between items-center py-4">
        <div class="flex flex-row gap-4 items-center">
            <p class="text-gray100 text-lg group-hover:font-bold transition-all">{name}</p>
        </div>
        <img class="relative left-[0%] group-hover:left-[-5%] transition-all" src="/arrow-link.svg" alt="">
    </div>
    {hasHr && <hr class="text-gray100">}
</a>