---
// Barre de navigation
---

<nav class="flex flex-row justify-between fixed top-0 right-0 w-full px-16 mt-4 z-10">
    <a>
        <img src="/logo-spe.svg">
    </a>

    <div class="flex flex-wrap content-center">
        <ul class="flex flex-row gap-12">
            <li>
                <a class="nav-link" href="">Accueil</a>
            </li>

            <li>
                <a class="nav-link" href="">Les classements</a>
            </li>

            <li>
                <a class="nav-link" href="">À propos</a>
            </li>
        </ul>
    </div>
</nav>