---
// Barre de navigation
---

<style>
    .hamburger {
        z-index: 100;
        padding: 4px;
        cursor: pointer;
    }

    .closeIcon {
        display: none;
    }

    .closeIcon, .menuIcon {
        filter: brightness(0) saturate(100%) invert(21%) sepia(36%) saturate(7171%) hue-rotate(247deg) brightness(79%) contrast(102%);
        height: 44px;
        width: 44px;
    }

    .nav-menu {
        position: fixed;
        transform: translateY(-100%);
        transition: transform 0.2s;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 99;
        background: #FBFAFF;
        list-style: none;

        @media (min-width: 769px) {
            position: relative;
            transform: unset;
            flex-direction: row;
            background: unset;
            padding: unset;
        }
    }

    .showMenu {
        transform: translateY(0);
    }

</style>

<nav class="flex flex-row justify-between align-center fixed top-0 right-0 w-full xs:px-4 sm:px-4 md:px-4 px-16 mt-4 z-10">
    <a href="/" aria-label="Retour à l'accueil">
        <img src="/logo-spe.svg" alt="Small Page Energy Logo">
    </a>
    <div class="flex content-center">
        <nav class="nav-menu">
            <ul class="h-full flex flex-row xs:flex-col sm:flex-col md:flex-col gap-12 xs:gap-4 xs:px-16 sm:px-16 md:px-16 items-center justify-center">
                <li class="xs:ml-6">
                    <a class="nav-link" href="/" class="xs:text-blue500 sm:text-blue500 md:text-blue500 text-black">Accueil</a>
                </li>
                <li class="xs:ml-6">
                    <a class="nav-link" href="" class="xs:text-blue500 sm:text-blue500 md:text-blue500 text-black">Les classements</a>
                </li>
                <li class="xs:ml-6">
                    <a class="nav-link" href="/about" class="xs:text-blue500 sm:text-blue500 md:text-blue500 text-black">À propos</a>
                </li>
            </ul>
        </nav>
        <button class="hamburger invisible xs:visible sm:visible md:visible" role="button" aria-label="Menu bouton">
            <img src="/close-menu.svg" class="closeIcon" alt="Bouton de fermerture de menu">
            <img src="/open-menu.svg" class="menuIcon" alt="Bouton d'ouverture de menu">
        </button>
    </div>
</nav>

<script>
    const navMenu = document.querySelector(".nav-menu");
    const navLink = document.querySelectorAll(".nav-link");
    const hamburger= document.querySelector(".hamburger");
    const closeIcon= document.querySelector(".closeIcon");
    const menuIcon = document.querySelector(".menuIcon");

    function toggleMenu() {
        if (navMenu.classList.contains("showMenu")) {
            navMenu.classList.remove("showMenu");
            closeIcon.style.display = "none";
            menuIcon.style.display = "block";
        } else {
            navMenu.classList.add("showMenu");
            closeIcon.style.display = "block";
            menuIcon.style.display = "none";
        }
    }
    hamburger.addEventListener("click", toggleMenu);
</script>