---
// Barre de navigation
---

<style>
    .hamburger {
        position:fixed;
        z-index: 100;
        top: 1rem;
        right: 1rem;
        padding: 4px;
        border: #35209D solid 1px;
        background: white;
        cursor: pointer;
    }

    .closeIcon {
        display: none;
    }

    .nav-menu {
        position: fixed;
        transform: translateY(-100%);
        transition: transform 0.2s;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 99;
        background: #35209D;
        color: white;
        list-style: none;
        padding-top: 4rem;
    }

    .showMenu {
        transform: translateY(0);
    }

</style>

<nav class="flex flex-row justify-between fixed top-0 right-0 w-full px-16 mt-4 z-10 xs:flex-col">
    <a>
        <img src="/logo-spe.svg">
    </a>

    <div class="flex flex-wrap content-center">
        <ul class="nav-menu flex flex-row gap-12 xs:flex-col xs:gap-4">
            <li class="xs:ml-6">
                <a class="nav-link" href="">Accueil</a>
            </li>

            <li class="xs:ml-6">
                <a class="nav-link" href="">Les classements</a>
            </li>

            <li class="xs:ml-6">
                <a class="nav-link" href="">À propos</a>
            </li>
        </ul>
        <button class="hamburger invisible xs:visible">
            <img src="/close_black_24dp.svg" class="menuIcon">
            <img src="/menu_black_24dp.svg" class="closeIcon">
        </button>
    </div>
</nav>

<script>
    const navMenu = document.querySelector(".nav-menu");
    const navLink = document.querySelectorAll(".nav-link");
    const hamburger= document.querySelector(".hamburger");
    const closeIcon= document.querySelector(".closeIcon") as HTMLElement;
    const menuIcon = document.querySelector(".menuIcon") as HTMLElement;

    function toggleMenu() {
        if (navMenu.classList.contains("showMenu")) {
            navMenu.classList.remove("showMenu");
            closeIcon.style.display = "none";
            menuIcon.style.display = "block";
        } else {
            navMenu.classList.add("showMenu");
            closeIcon.style.display = "block";
            menuIcon.style.display = "none";
        }
    }
    hamburger.addEventListener("click", toggleMenu);

    navLink.forEach( 
        function(navLink) { 
        navLink.addEventListener("click", toggleMenu);
        }
    )
</script>